//fonts

$base-font: "Roboto Slab", serif;
$secondary-font: "Montserrat", sans-serif;

$base-font-size: 18px;

//colors

$white: #ffffff;
$black: #000000;

$black-light: #3c434f;
$gray-dark: #707070;
$gray-lighter: #f6f6fc;
$border-color: #eaeaf5;

//multi colors

$primary-color: #60b0f4;
$secondary-color: #0052d4;

$success-color: #3dba6f;
$danger-color: #fe413b;
$warning-color: #fab63f;
$info-color: #18b9d4;
$purple-color-light: #60b0f4;
$purple-color: #0052d4;
$purple-color-deep: #60b0f4;

$purple-color-deep1: #0052d4;

// gradient color

$purple-gradient-primary: #60b0f4;
$purple-gradient-secondary: #0052d4;

$green-gradient-primary: #60b0f4;
$green-gradient-secondary: #0052d4;

//dark theme

$dark-bg: #323945;
$dark-bg-alt: #2a303b;
$dark-bg-light: #3c434f;
